@using EssayCompetition.Web.ViewModels.Administration.Roles
@model IndexViewModel
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p> <a asp-action="Create">Create Role</a> </p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="hidden" asp-for="@Model.SortOrder">
            <input type="hidden" asp-for="@Model.SearchOnlyDeleted">
            Find by name: <input type="text" name="SearchString" value="@Model.SearchString" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <div style=@(Model.SortOrder == "NameSortParm" ? "text-decoration-line:underline" : "")>
                    <a asp-action="Index" asp-route-SearchOnlyDeleted="@Model.SearchOnlyDeleted" asp-route-SortOrder="NameSortParm">UserName</a>
                </div>
            </th>
            <th>
                <div style=@(Model.SortOrder == "EmailSortParm" ? "text-decoration-line:underline" : "")>
                    <a asp-action="Index" asp-route-SearchOnlyDeleted="@Model.SearchOnlyDeleted" asp-route-SortOrder="EmailSortParm">Email</a>
                </div>
            </th>
            <th>
                Roles
            </th>
            <th>
                <div style=@(Model.SearchOnlyDeleted == true ? "text-decoration-line:underline" : "")>
                    <a asp-action="Index" asp-route-SearchOnlyDeleted=@true>SearchOnlyDeleted</a>
                </div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OneLineRoleNames)
                </td>
                <td>
                    <a asp-action="Details" asp-route-fromDeleted=@Model.SearchOnlyDeleted asp-route-id="@item.Id">Details</a> |
                    @if (Model.SearchOnlyDeleted)
                    {
                        <a asp-action="UnDelete" asp-route-SearchOnlyDeleted=@true asp-route-id="@item.Id">UnDelete</a>
                    }
                    else
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @Html.Raw("|")
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<ul class="pagination">
    @for (var i = 1; i <= Model.Pager.PagesCount; i++)
    {
        <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
            <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
        </li>
    }
</ul>



