@using EssayCompetition.Web.ViewModels.Teacher.Reviews
@model IndexViewModel
@{
    ViewData["Title"] = "Index";
}
<h2>Essays to review</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Contest
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Essays)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestName)
                </td>
                <td>
                    <a asp-action="ReviewEssay" asp-route-id="@item.Id">Review</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<ul class="pagination">
    @for (var i = 1; i <= Model.Pager.PagesCount; i++)
    {
        <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
            <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
        </li>
    }
</ul>
