@using EssayCompetition.Web.ViewModels.Teacher.Reviews;
@model ReviewEssayViewModel
@{
    ViewData["Title"] = "ReviewEssay";
}

<label>Title</label>
<p>@Model.Title</p>
<label>Description</label>
<p>@Model.Description</p>
<label>Content</label>
<p>@Model.Content</p>
<label>Image</label>
<p>@Model.ImageUrl</p>
<label>Category</label>
<p>@Model.Category.Title</p>

