@using EssayCompetition.Web.ViewModels.Calendars
@model CalendarViewModel
@{
    this.ViewData["Title"] = "Home Page";
    this.ViewData["ImagePath"] = "img/about-bg.jpg";
    this.Layout = "_CustomLayout";
    this.ViewData["ImageH1Text"] = "Calendar";
    this.ViewData["ImageSpanText"] = "Placed all future/past events";
}

<div class="container">
    <div class="col-lg-12 col-md-12 mx-auto">
        <div class="d-flex justify-content-between">
            <div>
                <a asp-route-currentMonth="@Model.Month" asp-route-curentYear="@Model.Year" asp-route-isPlus="@false" class="page-link">
                    <i class="fa fa-arrow-left"></i>
                </a>
            </div>
            <div>
                <a asp-route-currentMonth="@Model.Month" asp-route-curentYear="@Model.Year" asp-route-isPlus="@true" class="page-link">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <calendar month="@Model.Month" year="@Model.Year" events="@Model.Events" />
    </div>
</div>
<hr>
