@using EssayCompetition.Web.ViewModels.Administration.Contest
@model DetailsViewModel
@{
    this.ViewData["Title"] = "Details page";
}
<h1>@this.ViewData["Title"]</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CategoryTitle)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CategoryTitle)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CategoryDescription)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CategoryDescription)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Duration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

